#aboutStyle {
    color: whitesmoke;
    text-align: center;
}
.center {
    text-align: center;
}
#bookImg {
    height: 70%;
    width: 100%;
}
.textClass {
    color: black;
    text-align: center;
}